body {background-color: burlywood;}

h1 {    display: block;
        height: 100px;
        width: 60%;
        text-align: center; color: #FF0000;
        background-color: yellow; border: 5px solid currentColor;
     font-size: 20px;
        margin-top: 30px; /*marge exterieur*/
        padding: 10px;  /*marge interieur*/
        border-radius: 15px;}

.p1 {  display: inline-block;
        height: 100px;
        width: 60%;
        text-align: center; color: white;
        background-color: blue; border: 5px solid currentColor;
     font-size: 20px; }

img {display: inline-block;
        height: 50%;
        width: 25%;
        border: 2px solid black; border-radius: 50%;
}