body {background-color: lightgray;}

h1 {text-align: center;font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
        color: black;
        border: solid 2px black;
        border-radius: 15%;
        background-color: gray;
        padding: 5px;
        width: 50%;
}


.container { display:flex;
        justify-content: space-around;
      }
      

      .border {border: 2px solid black ;
                width: 75%;
                padding: 5px;
                margin: 5px;
        background-color: rgb(80, 78, 78);
;}

      .text {font-size: 20px;
        color: whitesmoke;}

        h2 {text-align: center;
        text-decoration: underline;
        font-weight: bold;
        color: red;}


        .titre {display: flex;
        justify-content: center;}
    
