body {background-color: #c7c4c4;}

header h1 { font-family :'Times New Roman', Times, serif;
            font-weight: bold ;
            text-decoration: underline;
            text-align: center;
            border: black 2px solid; background-color :#8f8b8b;
            border-radius: 50%;
            padding: 5%;}

.nom {font-family: 'Times New Roman', Times, serif;
        font-size: 15px; ;
    border: 2px solid #000000;
    background-color : #8f8b8b;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify; color: rgb(82, 31, 31);
    padding-left: 5%;
    margin-bottom: 2.5px;
    margin-bottom: 2.5px;}

.accroche {text-align: center;}

.border {;
        border: 2px solid black;
        margin-left: auto;
        background-color : #8f8b8b;
        margin-top: 5px;
        margin-bottom: 5px;}

h2 {text-align: center;color: black;
    font-weight: bold;
    text-decoration: underline;
    }




    #img       {    border: 2px solid #000000;
        margin-left: 5px;
        margin-right: 5px;}


.text {font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: white;
font: size 15px;;}
#PDF {text-align: center; }