<?xml version="1.0"?>
<menu>
    <menu15 no="15">

        <entrée>Carottes</entrée>


        <plat>
            <viande>steak</viande>
            <accompagnement>Frite</accompagnement>   
        </plat>

        <dessert>Tarte</dessert>
        </menu15>

    <menu20 no="20"></menu20>
        <entr


</menu>