body {background-color: lightgray;}

header h1 {text-align: justify;color: black;
        border: solid 10px;color: black;margin: 2px;padding: 50px;
        border-radius: 25%;
        background-color:blanchedalmond;}

.border {border: solid 3px;color: black;
margin: 5px;padding: 2.5px;
background-color: chartreuse;} 

.text h2{ text-decoration: underline;
            text-align: center;}

.nom  {text-align: center;
     margin: 5%;
      font-family: 'Times New Roman', Times, serif; color: violet;}